# optogenetic backend configuration
#py pyDevice,SimServer,vmteach.devices.sim_server,SimServer
#py Property,SimServer,Backend,optogenetic
#py pyDevice,Camera,vmteach.devices.camera,SimCameraDevice
#py pyDevice,XYStage,vmteach.devices.stage,SimStageDevice
#py pyDevice,ZStage,vmteach.devices.z_stage,SimZStageDevice
#py pyDevice,LED,vmteach.devices.state,LEDDevice
#py pyDevice,Filter Wheel,vmteach.devices.state,FilterWheelDevice
#py pyDevice,Shutter,vmteach.devices.shutter,SimShutterDevice
#py pyDevice,Objective,vmteach.devices.state,ObjectiveDevice
#py pyDevice,SLM,vmteach.devices.slm,SimSLMDevice

#py Property,Core,Camera,Camera
#py Property,Core,XYStage,XYStage
#py Property,Core,Focus,ZStage
#py Property,Core,Shutter,Shutter
#py Property,Core,SLM,SLM

#py Property,Core,Initialize,1
#py ConfigGroup,Channel,phase-contrast,LED,Label,CYAN
#py ConfigGroup,Channel,phase-contrast,Filter Wheel,Label,Electra1(402/454)
#py ConfigGroup,Channel,DAPI,LED,Label,UV
#py ConfigGroup,Channel,DAPI,Filter Wheel,Label,SCFP2(434/474)
#py ConfigGroup,Channel,membrane,LED,Label,ORANGE
#py ConfigGroup,Channel,membrane,Filter Wheel,Label,mScarlet3(569/582)
